.parallax {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  background-size: 110%;
  background-position: center;
  background-color: #000;
  transition: background-image 0.5s;
}

@media (900px > width > 720px) {
  .parallax {
    height: 100dvh;
    background-size: auto 100%;
  }
}

@media (width < 720px) {
  .parallax {
    height: 100dvh;
    background-size: auto 720px;
  }
}
