.parallax {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  background-size: 110% 120%;
  background-position: center;
  background-color: #000;
  transition: background-image 0.8s;
}

@media (900px > width > 720px) {
  .parallax {
    height: 100dvh;
    background-size: auto 100%;
  }
}

@media (width < 720px) {
  .parallax {
    height: 100dvh;
    background-size: 1000px 900px;
    overflow: hidden;
  }
}

@keyframes bgImage {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
