footer {
  height: 10vh;
  width: 90vw;
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ffffff;
  position: absolute;
  bottom: 0;

  & div {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    gap: 1rem;

    &:nth-child(2) {
      display: flex;
      justify-content: center;
    }
    &:last-child {
      display: flex;
      justify-content: flex-end;
    }

    & img {
      width: 24px;
    }
  }
  & p {
    font-family: var(--font-noto);
    color: white;
  }
}
