footer {
  height: 10vh;
  height: 10dvh;
  width: 90vw;
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ffffff;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  transition: all 3s;

  & .div_min {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: 0;
    animation: opacity 1.5s forwards;

    &:nth-child(2) {
      justify-content: center;
    }
    &:last-child {
      justify-content: flex-end;
    }

    & img {
      width: 24px;
    }
    & address,
    a {
      font-family: var(--font-noto);
      color: white;
      text-decoration: none;
      font-style: normal;
    }
  }
}

@media (width < 720px) {
  footer {
    height: 5vh;
    height: 5dvh;
  }
  .div_min {
    display: none !important;
  }
}
